body{
	text-transform: uppercase;
	font-family: Georgia, 'Times New Roman', Times, serif;
    background:
	repeating-radial-gradient(
		circle,
		transparent,
		transparent 3em,
		rgba(100, 240, 112, 0.658) 1em,
			transparent 6em,
		rgb(252, 170, 62) 6.5em
	),
	repeating-radial-gradient(
		ellipse farthest-corner,
		transparent 1em,
		rgba(13, 240, 134, 0.884) 1em,
		 	transparent 5em,
		rgba(247, 26, 217, 0.808) 2em
	),
	repeating-radial-gradient(
		circle,
		transparent,
		transparent 3em,
		rgba(17, 199, 231, 0.692) 1em,
			transparent 2em,
		rgb(5, 253, 117) 4em
	),
	repeating-radial-gradient(
		circle,
		transparent 3em,
		rgb(17, 241, 174) 1em,
			transparent 2em,
		rgb(37, 93, 248) 4em
	), rgba(230, 228, 245, 0.973);

background-blend-mode: multiply;
background-size: 10em 10em;
background-position: 0 0, 5em 5em, 15em 50em;
display: inline;

}